<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>photoghast</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="text-white navbar-brand" href="{{ url_for('index') }}">photoghast</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if current_user.is_authenticated %}
                <div class="navbar-nav">
                    <a class="nav-link{% if request.url_rule.endpoint == "index" %} active{% endif %}" href="{{ url_for('index') }}">stream</a>
                    <a class="nav-link{% if request.url_rule.endpoint == "albums" or request.url_rule.endpoint == "album" %} active{% endif %}" href="{{ url_for('albums') }}">albums</a>
                    <a class="nav-link{% if request.url_rule.endpoint == "places" or request.url_rule.endpoint == "place" %} active{% endif %}" href="{{ url_for('places') }}">places</a>
                </div>
                {% endif %}
                <div class="d-flex ms-auto align-items-center">
                    {% if current_user.is_authenticated %}
                        <span class="navbar-text text-white me-3">{{ current_user.name }}</span>
                        <form action="{{ url_for('logout') }}" method="post"><button class="btn btn-outline-warning" type="submit">log out</button></form>
                    {% else %}
                        <a class="btn btn-outline-warning" href="{{ url_for('login') }}">log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <div class="container pt-4">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>


