{% extends "base.html" %}

{% block content %}
    {% if title is defined %}
        <h1>{{ title }}</h1>
    {% endif %}
    <div class="row pswp-gallery pswp-gallery--single-column" id="g2">
        {% for img in images %}
            <div class="col-sm-6 col-lg-4 col-xl-3 my-2" style="height: auto">
                <div class="card">
                    <a href="{{ url_for("image", img_id=img.id) }}"
                       data-pswp-width="{{ img.width }}"
                       data-pswp-height="{{ img.height }}"
                       target="_blank">
                        <img class="img-fluid lazyload" style="width: 100%; object-fit: cover;"
                             data-src="{{ url_for("thumb", img_id=img.id) }}"
                             alt="{{ img.name }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="/static/js/lib/lazysizes.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
    <script>
        var mason = new Masonry(document.querySelector("#g2"), {
            "percentPosition": true, transitionDuration: '0', stagger: 10
        });

        document.addEventListener('lazyloaded', function(e) {
            mason.layout();
        });
    </script>

    <script type="module">
        // Include Lightbox
        import PhotoSwipeLightbox from '/static/js/lib/photoswipe/photoswipe-lightbox.esm.min.js';

        const lightbox = new PhotoSwipeLightbox({
            // may select multiple "galleries"
            gallerySelector: '#g2',

            // Elements within gallerySelector (slides)
            childSelector: 'a',

            // Include PhotoSwipe Core
            // and use absolute path (that starts with http(s)://)
            pswpModule: '/static/js/lib/photoswipe/photoswipe.esm.min.js',

            // Include CSS file,
            // (if you haven't included in via <link>)
            pswpCSS: '/static/js/lib/photoswipe/photoswipe.css'
        });
        lightbox.init();
    </script>
{% endblock %}
