{% extends "base.html" %}

{% block content %}
    <div class="form-floating row justify-content-center">
        <form class="col-sm-6 col-lg-4" method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            <div class="form-floating mb-3">
                {{ form.username(class_="form-control") }} {{ form.username.label(class_="form-label") }}
            </div>
            <div class="form-floating mb-3">
                 {{ form.passwd(class_="form-control") }} {{ form.passwd.label(class_="form-label") }}
            </div>
            <div class="form-check mb-3">
                {{ form.remember(class_="form-check-input") }} {{ form.remember.label(class_="form-check-label") }}
            </div>
            <button type="submit" class="btn btn-primary">login</button>
        </form>
    </div>
{% endblock %}
